<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="InstallPath" value="C:\x13\winx13html\x13as\" />
    <add key="Executable" value="x13ashtml.exe" />
    <add key="DataPath" value="c:\x13\labs\data\retail" />
    <add key="GraphicPath" value="" />
    <add key="EditCommand" value="" />
    <add key="OutputFilesToShow" value="ols" />
    <add key="ShowOutput" value="y" />
    <add key="ShowLog" value="n" />
    <add key="ShowError" value="n" />
    <add key="ShowScreenOutput" value="n" />
    <add key="GraphingProgram" value="JAVA" />
    <add key="JavaCommandPath" value="c:\program files\java\jre7\bin\java" />
    <add key="SASGraphicProgramDirectory" value="" />
    <add key="CheckBoxSettings" value="gsodr" />
    <add key="DeleteTempFilesOnClosing" value="yes" />
    <add key="TimeDiscrepancyAllowance" value="2" />
    <add key="DefaultSpecTemplate" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>